C#/SCSS/SCSS/Service References/PoemApiService/PoemApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PoemWebService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PoemWebService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPoemItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PoemItem" nillable="true" type="tns:PoemItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoemItem" nillable="true" type="tns:ArrayOfPoemItem" />
  <xs:complexType name="PoemItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cipai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dynasty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Footer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="SubID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleNode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yun" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoemItem" nillable="true" type="tns:PoemItem" />
</xs:schema>