C#/SCSS/SCSS/Service References/PoemApiService/PoemApi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PoemWebService/PoemApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PoemWebService.Entity" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPoem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPoemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PoemWebService.Entity" minOccurs="0" name="QueryPoemResult" nillable="true" type="q1:ArrayOfPoemItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>